body {
    display: flex;
    margin: 0;
    font-family: 'inter';
    background-color: rgb(246, 247, 248);
    height: 100%;
    width: 100%;
}

.column-content {
    width: 100%;
}

.content-alignment {
    position: absolute;
    left: 200px;
    top: 75px;
    height: calc(100% - 75px);
    width: calc(100% - 200px);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #919191;
}


@media(max-width: 900px) {

    body {
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
    }

    .content-alignment {
        left: 0;
        width: 100%;
        height: calc(100% - 150px);
    }
}